.input {
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  padding: 15px;
  margin-bottom: 5px;
  width: 320px;
  border: 1px solid #ccc;
}
* {
  box-sizing: border-box;
}

.form {
  max-width: 320px;
  padding: 15px;
  margin: 20px auto;
  background-color: #bc1e1e;
  box-sizing: content-box;
}
.btn {
  background-color: green;
  width: 320px;
}
.btn:hover {
  background-color: aqua;
}
